

.characters {
  margin: 4em 0;

  display: grid;
  grid-gap: 2em;

  @include desktop() {
    grid-template-columns: 1fr 1fr;
  }
}

.characters-big {
  grid-template-columns: 1fr;
}


.character {
  background-color: $cardColor;
  border-radius: 10px;

  display: flex;

  img {
    width: 50%;
    max-width: 200px;
    border-radius: 10px 0 0 10px;
  }

  &-text {
    padding: 1em;
    color: $textColorAlt;
  }

  &-category {
    color: gray;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: .2em;
  }

  &-title {
    font-size: 2em;
    font-weight: 700;
  }

  &-gender {
    font-size: 1em;
  }


  &:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.2);
  }
}



.character-big {
  width: 100%;
  flex-direction: column;

  img {
    width: 100%;
    max-width: 100%;
  }

  @include desktop {
    flex-direction: row;

    img {
      max-width: 40%;
    }
  }


}


